<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title"> Tambahkan Mahasiswa </h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true"> &times; </span>
			</button>
		</div>
		<form (submit)="addData(formTambah)" #formTambah="ngForm" class="was-validated">
			<div class="modal-body">
				<table class="table">
					<tr colspan="4">
						<td rowspan="15" align="center" valign="top" width="30%"> 
							<img [src]="user.ProfilePicture" class="img-thumbnail foto" width="168px" height="252px">
							<div class="custom-file">
								<input type="file" id="profilepicture" name="profilepicture" class="custom-file-input" (change)="uploadFoto($event)" required accept="image/png, image/jpg, image/jpeg, image/gif">
								<label class="custom-file-label" for="profilepicture" style="text-align:left">Masukkan Foto</label>
								<div class="invalid-feedback"> Mahasiswa harus memiliki foto </div>
								<div class="invalid-feedback"> Format file yang diterima : png, jpg, jpeg atau gif </div>
							</div>
						</td>
					</tr>
					<tr>
						<td> NIM </td>
						<td> : </td>
						<td> 
							<input type="text" class="form-control" name="nomor" [(ngModel)]="user.Nomor" required pattern="[0-9]{9}">
							<div class="invalid-feedback" [hidden]="user.Nomor.length > 0"> Masukkan NIM </div>
							<div class="invalid-feedback"> Format NIM Salah </div>
						</td>
					</tr>
					<tr>
						<td> Nama </td>
						<td> : </td>
						<td>
							<input type="text" class="form-control" name="nama" [(ngModel)]="user.Nama" required> 
							<div class="invalid-feedback"> Masukkan nama </div>
						</td>
					</tr>
					<tr>
						<td> E-mail </td>
						<td> : </td>
						<td>
							<input type="text" class="form-control" name="email" [(ngModel)]="user.Email" required pattern="^(([^<>()\[\]\\.,;:\s@&quot;]+(\.[^<>()\[\]\\.,;:\s@&quot;]+)*)|(&quot;.+&quot;))@((\[[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$">
							<div class="invalid-feedback" [hidden]="user.Email.length > 0"> Masukkan email </div>
							<div class="invalid-feedback"> Format email salah </div>
						</td>
					</tr>
					<tr>
						<td> Alamat </td>
						<td> : </td>
						<td> 
							<input type="text" class="form-control" name="alamat" [(ngModel)]="user.Alamat" required>
							<div class="invalid-feedback"> Masukkan alamat </div>
						</td>
					</tr>
					<tr>
						<td> NIK </td>
						<td> : </td>
						<td>
							<input type="text" class="form-control" name="nik" [(ngModel)]="user.Nik" required pattern="[0-9]{16}">
							<div class="invalid-feedback"> Format NIK salah </div>
							<div class="invalid-feedback" [hidden]="user.Nik.length > 0"> Masukkan NIK </div>
						</td>
					</tr>
					<tr>
						<td> Tempat / Tanggal Lahir </td>
						<td> : </td>
						<td> 
							<input type="text" class="form-control" name="tempatLahir" [(ngModel)]="user.TempatLahir" required>
							<div class="invalid-feedback"> Masukkan tempat lahir </div>
							<input type="date" class="form-control" name="tanggalLahir" [(ngModel)]="user.TanggalLahir" required>
							<div class="invalid-feedback"> Masukkan tanggal lahir </div>
						</td>
					</tr>
					<tr>
						<td> Agama </td>
						<td> : </td>
						<td>
							<select name="agama" [(ngModel)]="user.Agama" name="agama" class="form-control" required>
								<option value=0> Islam </option>
								<option value=1> Kristen Protestan </option>
								<option value=2> Kristen Katolik </option>
								<option value=3> Hindu </option>
								<option value=4> Buddha </option>
								<option value=5> Kong Hu Cu </option>
							</select>
							<div class="invalid-feedback"> Pilih agama yang dianut </div>
						</td>
					</tr>
					<tr>
						<td> Jenis Kelamin </td>
						<td> : </td>
						<td>
							<select name="jenisKelamin" [(ngModel)]="user.JenisKelamin" class="form-control" required>
								<option value=0> Pria </option>
								<option value=1> Wanita </option>
							</select>
							<div class="invalid-feedback"> Pilih jenis kelamin </div>
						</td>
					</tr>
					<tr>
						<td> Asal Sekolah </td>
						<td> : </td>
						<td>
							<input type="text" name="asalSekolah" [(ngModel)]="user.AsalSekolah" class="form-control" required>
							<div class="invalid-feedback"> Masukkan asal sekolah </div>
						</td>
					</tr>
					<tr>
						<td> Nama Ayah </td>
						<td> : </td>
						<td>
							<input type="text" name="ayah" [(ngModel)]="user.Ayah" class="form-control" required>
							<div class="invalid-feedback"> Masukkan nama ayah </div>
						</td>
					</tr>
					<tr>
						<td> Nama Ibu </td>
						<td> : </td>
						<td>
							<input type="text" name="ibu" [(ngModel)]="user.Ibu" class="form-control" required>
							<div class="invalid-feedback"> Masukkan nama ibu </div>
						</td>
					</tr>
					<tr>
						<td> Alamat Orang Tua </td>
						<td> : </td>
						<td>
							<input type="text" name="alamatOrtu" [(ngModel)]="user.AlamatOrtu" class="form-control" required>
							<div class="invalid-feedback"> Masukkan alamat orang tua </div>
						</td>
					</tr>
					<tr>
						<td> Kewarganegaraan </td>
						<td> : </td>
						<td>
							<input type="text" name="warganegara" [(ngModel)]="user.WargaNegara" class="form-control" required>
							<div class="invalid-feedback"> Masukkan kewarganegaraan </div>
						</td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<button type="submit" [class]="{'btn':true, 'btn-danger':formTambah.invalid, 'btn-success':!formTambah.invalid}"> Simpan </button>
			</div>
		</form>
	</div>
</div>